@page "/cmv-general-presentation"
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colegiul Medicilor Veterinari din Republica Moldova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center my-3">
        <h1>
            <b>Prezentarea Generală</b>
        </h1>
    </div>
    <div class="general-presentation-content">
        <p>
            Colegiul Medicilor Veterinari din Republica Moldova funcționează în baza <b>Legii nr. 121/2020</b> republicată pentru organizarea
            şi exercitarea profesiunii de medic veterinar, publicată în Monitorul Oficial al Republicii Moldova
            nr. 199-204 la data de 07.08.2020, ca formă de organizare autonomă, non-guvernamentală, apolitică şi
            non-profit din care fac parte toți medicii veterinari în condițiile prezentei legi.
        </p>
        <p>Colegiul Medicilor Veterinari din Republica Moldova are statut de persoană juridică de drept public.</p>
        <p>Organizarea şi funcționarea Colegiului se bazează pe principiile teritorialității şi reprezentativității.</p>
        <div class="d-flex flex-column mb-2 justify-content-center">
            <div class="card w-75 flex-shrink-0 mb-2 mx-auto">
                <div class="card-header text-center p-3">
                    <p>
                        <b>
                            Principiile generale privind exercitarea profesiei de medic veterinar sunt:
                        </b>
                    </p>
                </div>

                <div class="card-body text-center">
                    <ul class="list-group  fst-italic">
                        <li class="list-group-item ">Principiul legalității</li>
                        <li class="list-group-item">Principiul egalității</li>
                        <li class="list-group-item">Principiul autonomiei</li>
                        <li class="list-group-item">Principiul păstrării secretului profesional</li>
                        <li class="list-group-item">Principiul „nu dăuna” și principiul prevenției</li>
                    </ul>
                </div>
            </div>
            <div class="card text-center w-75 my-2 mx-auto">
                <div class="card-header">
                    <p>
                        <b>
                            Colegiul exercită atribuții prevăzute de lege în următoarele domenii principale de activitate:
                        </b>
                    </p>
                </div>
                <div class="card-body">
                    <ul class="list-group fst-italic">
                        <li class="list-group-item">Profesional-științific şi învățământ</li>
                        <li class="list-group-item">Etică profesională şi deontologie medicală</li>
                        <li class="list-group-item">Jurisdicție profesională şi litigii</li>
                        <li class="list-group-item">Avizări consultative</li>
                        <li class="list-group-item">Economico-social</li>
                        <li class="list-group-item">Administrativ şi organizatoric</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Colegiul are următoarele competențe: apără drepturile și interesele medicilor veterinari; reprezintă profesia de medic veterinar în raport cu autoritățile publice naționale, organizațiile internaționale și mediul de afaceri; asigură dezvoltarea profesională continuă a medicilor veterinari; aplică sancțiuni disciplinare.</p>
        <p>Medicina veterinară este știința medicală care asigură confortul şi protecția animalelor şi contribuie la menținerea sănătății publice şi la protecția mediului.</p>
        <p>Adunarea generală a medicilor veterinari pentru alegerea conducerii Colegiului și a componenței Biroului Executiv și al Comisiilor a avut loc în data de 18 noiembrie 2021. Din acel moment până în prezent Colegiul este condus de <b>Mihail MOROZ</b>.</p>
        <p>Astăzi, Colegiul Medicilor Veterinari este o organizație tânără, dar puternică, formată din 330 medici veterinari care își desfășoară activitatea în cele mai diverse domenii profesionale.</p>
        <p>Medicul veterinar este singura profesie care se află pe lanțul alimentar "de la fermă la furculiță".</p>

    </div>

</div>
</body>
</html>

@code {

}