@page "/comision"

<div class="container-xl bg-white">
   <div class="row flex-row">
      <div class="col-sm-12 col-md-4 col-xl-3">
         <RadzenCard Style="height: 266px; width: 296px"> 
            <RadzenImage Style="width: 256px; height: 106px" Visible="true"></RadzenImage>
            <RadzenCard Style="margin-top:0.2rem;">
               some information
            </RadzenCard>
         </RadzenCard>
      </div>
   </div>
</div>

@code {

}