@page "/evenimete"

<PageTitle>Evenimete</PageTitle>
<div class="row">
    <div class="col-12">
        <RadzenText Text="Evenimete" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </div>
</div>
