@page "/formarea-profesionala-continue"

<div class="card w-100 ">
    <div class="card-body text-center p-2">
        <h1>Formarea profesională continuă</h1>
    </div>
</div>

<div class="card w-100 min-vh-100">
    <div class="card-body">
        
        <p class="my-3">În atașamentele de mai jos puteți descărca in format <b>PDF</b></p>
        
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex gap-3">
                    <p>
                        <b>HOTĂRÂREA nr. 7 din 14 mai 2022 privind formarea profesionala continuă</b>
                    </p>
                    <button type="button" class="btn btn-primary">Descarcă</button>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex gap-3">
                    <p>
                        <b>RAPORT DE AUTOEVALUARE PENTRU PREGĂTIREA PROFESIONALĂ CONTINUĂ</b>
                    </p>
                    <button type="button" class="btn btn-primary">Descarcă</button>
                </div>
            </li>
        </ul>
    </div>
</div>


@code {

}