@page "/partners"


<div class="container mt-5">
    <div class="row row-cols-3 g-4">
        <div class="col-6">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img 
                        class="card-img-topp-3 p-3"
                        src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Emblema_Guvernului_Republicii_Moldova.png"
                        alt="stema republicii moldova"
                        style="width: 120px; height: 140px;"
                    />
                    <h2>
                        <a class="hyper-link" href="https://maia.gov.md/">
                            Ministerul Agriculturii și Industriei Alimentare
                        </a>
                        
                    </h2>
                </div>
            </div>
        </div> 
        <div class="col-6">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img 
                        class="card-img-top-3 p-3"
                        src="https://monitorul.fisc.md/upload/articles/2022/06/tvhytitt00.jpg"
                        alt="stema republicii moldova"
                        style="width: 120px; height: 140px;"/>
                    <h2>
                        <a class="hyper-link" href="https://www.ansa.gov.md/">
                            Agenția Națională pentru Siguranța Alimentelor
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img 
                        class="card-img-top-3 p-3"
                        src="https://fmv.utm.md/wp-content/uploads/sites/39/2022/12/logo-fmv-300x300.png"
                        alt="facultate medicina veterinara"
                        style="width: 120px; height: 140px;"/>
                    <h2>
                        <a class="hyper-link" href="https://fmv.utm.md/">
                            Facultatea Medicină Veterinară a Universității Tehnice a Moldovei
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img 
                        class="card-img-top-3 p-3"
                        src="https://utm.md/wp-content/uploads/2022/03/utm-logo.svg"
                        alt="facultate medicina veterinara"
                        style="width: 120px; height: 140px; background-color:#23557d;"/>
                    <h2>
                        <a class="hyper-link" href="https://utm.md/">
                            Universitatea Tehnică a Moldovei
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="d-flex align-items-center">
                    <img 
                        class="card-img-top-3 p-3"
                        src="https://amvac.ro/files/images/AMVAC_LOGO.jpg"
                        alt="facultate medicina veterinara"
                        style="width: 120px; height: 140px;"/>
                    <h2>
                        <a class="hyper-link" href="https://amvac.ro/">
                            Asociația Medicilor Veterinari pentru Animale de Companie din România
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

</div>
